* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    z-index: 2000;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(16, 12, 12, 0.06);
}

#navbar {
    z-index: inherit;
    position: sticky;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    position: relative;
    list-style: none;
    padding: 0px 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover
/* ,#navbar li a.active {
    color: #088178;
} */

#navbar li a.active::after,
#navbar li a:hover::after 
{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url(hero4.png);
    background-size: cover;
    height: 550px;
    background-position: top 25% right 0;
    padding: 0px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

#hero h4,
h2,
h1,
p {
    margin: 0px;
    padding: 0px;
}

#hero h4 {
    padding-bottom: 15px;
    font-size: 20px;
}

#hero h1 {
    color: #088178;
    padding-bottom: 15px;
    font-size: 50px;
    line-height: 64px;
}

#hero h2 {
    font-size: 50px;
    line-height: 64px;
}

#hero p {
    /* padding: 10px 15px 15px 0px; */
    margin: 15px 0 20px 0px;
    color: #465b52;
    font-size: 17px;
}

#hero button {
    background-image: url(button.png);
    border: none;
    background-color: transparent;
    padding: 15px 85px 15px 85px;
    font-size: 15px;
    background-size: 100% 100%;
    font-weight: bold;
    color: #088178;
}

.c1 {
    align-content: center;
    justify-content: center;
    padding: 40px 100px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.c2 {
    width: 200px;
    text-align: center;
    padding: 25px 25px;
    margin: 15px 5px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
}

.c2 h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

.product {
    text-align: center;
    padding: 40px;
}

.product h2 {
    font-size: 46px;
    line-height: 54px;
}

.product p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.pro-contain {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}

.m1 {

    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px 0px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0px;
    transition: 0.2s ease;
}

.m1 img {
    border-radius: 25px;
}

.n1 {
    text-align: start;
    padding: 10px 0;
}

.n1 span {
    color: #606063;
    font-size: 14px;
    margin: 5px 0px -20px 0px;
}

.n1 h5 {
    padding: 7px 0 3px;
    margin-top: -8px;
    color: #1a1a1a;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.star {
    font-size: 12px;
    color: rgb(243, 182, 25);
    margin: -9px 0px 0px -15px;
}

.n1 h4 {
    padding: 10px 0px 0px 0px;
    color: #088178;
    font-size: 17px;
    font-weight: 700;
}

.a1 {
    position: absolute;
    width: 45px;
    height: 45px;
    background-color: #e8f6ea;
    border-radius: 50px;
    color: #088178;
    border: 1px solid #cce7d0;
    margin: -45px 0px 0px 200px;

}

.a1 i {
    margin: 15px 0px 0px 13px;
}

.service {
    padding: 20px;
    background-image: url(b2.jpg);
    height: 250px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.service h4 {
    padding-top: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.service h2 {
    color: #fff;
    font-weight: bold;
    font-size: 32px;
    padding: 5px 0;
}

.service h2 span {
    color: #ef3636;
}

.arrivals {
    padding: 40px 80px;
}

.arrivals h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
    text-align: center;
}

.arrivals p {
    font-size: 18px;
    color: #465b52;
    margin: 15px 0 20px 0;
    text-align: center;
}

.banner1 {
    width: 580px;
    height: 300px;
    padding: 40px;
    background-image: url(b17.jpg);
    background-size: 100% 100%;
    margin-left: 80px;
    color: white;
}

.k1 h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 0px 0px -10px 0px;
    padding: 25px 0px 0px 0px;
}

.k1 h2 {
    font-size: 40px;
    line-height: 54px;
    font-weight: 800;
}

.k1 p {
    padding: 10px 10px 10px 0px;
    font-size: 16px;
    font-weight: 500px;
}

.button {
    margin-top: 10px;
    padding: 12px 25px 12px 25px;
}

.button:hover {
    background-color: #088178;
    color: white;
    border: none;
}

.banner2 {
    width: 580px;
    height: 300px;
    padding: 40px;
    background-image: url(b10\ \(1\).jpg);
    background-size: 100% 100%;
    margin: 20px 0px 0px 80px;
    color: white;
}

.banner3 {
    padding: 50px 50px 50px 60px;
    justify-content: space-evenly;
}

.k2 {
    height: 170px;
    width: 330px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.k2 h2 {
    font-weight: 900;
    font-size: 20px;
    color: white;
    margin-top: 50px;

}

.k2 h3 {
    color: rgb(236, 84, 78);
    font-weight: 800;
    font-size: 15px;

}

.v1 {
    background-image: url(b7.jpg);
    background-size: 100% 100%;
}

.v2 {
    background-image: url(b18.jpg);
    background-size: 100% 100%;
}

.v3 {
    background-image: url(b4.jpg);
    background-size: 100% 100%;
}

.foot {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 52);
}

.foot h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    line-height: 30px;
}

.foot p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

.foot span {
    color: #ffbd27;
}

.foot .btn {
    width: 20%;
    padding: 15px 30px 15px 30px;
    margin: -2px 0px 0px -7px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: none;
    background-color: #088178;
    color: white;
}

.foot input {
    width: 65%;
    padding: 15px 30px;
    font-size: 14px;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.newletters {
    margin-left: 45px;
}

.footer {
    letter-spacing: 0.60px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-evenly;
}

.footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
    font-weight: bold;
}

.footer p {
    font-size: 13px;
    margin: 0 0 20px 0;
}

.same a {
    display: block;
    justify-content: center;
    align-items: flex-start;
    text-decoration: none;
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;

}

.img {
    display: flex;
}

.img img {
    border: 1px solid #333;
    border-radius: 4px;
}

.copyright {
    text-align: center;
    padding: 20px;
}

.copyright p {
    font-size: 13px;
    margin: 0 0 20px 0;
    letter-spacing: 0.60px;
}
#mobile{
    display:none;
    align-items: center;
    justify-content: center;
}
#mobile i{
    margin-left: 10px;
}
.i1{
    display: none;
}
.i2{
   margin-top: -50px;
}
.service1 {
    padding: 20px;
    background-image: url(b1.jpg);
    height: 250px;
    background-size: 100% 100%;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service1 h2{
   font-size: 45px;
   font-weight:700;
   letter-spacing: 0.80px;
}
.service1 h4{
    margin-top: 15px;
    letter-spacing: 0.80px;
}
.pagination{
    padding: 20px 20px 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pagination li a{
    margin: 2px;
    color: white;
    background-color: #088178;
}
.b1 img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.blog{
    padding: 150px 150px 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog h4{
    font-weight: bold;
    font-size: 22px;
    letter-spacing:0.80px;
    padding-bottom: 20px;
}
.blog p{
    font-size: 15px;
    letter-spacing: 0.80px;
    padding-bottom: 20px;
}
.blog a{
    display: flex;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    font-weight:550;
}
.blog a:hover{
    color: #088178;
}
.blog h1{
    font-size: 45px;
}
.about{
    padding: 40px;
    letter-spacing: 0.70px;
}
.about1{
    padding-left: 40px;
}
.about h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
    font-weight: bold;
}
.about1 p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.contact{
    padding: 40px;
}
.contact h2{
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    padding: 20px 0;
}
.contact h3{
    font-size: 20px;
    padding-bottom: 15px;
    font-weight: 700;
}
.p1 li{
    display: flex;
    letter-spacing: 0.60px;
}
.p2{
  padding: 50px;
}
.p1 li i{
    font-size: 14px;
    padding: 15px 22px 0px 0px;
}
.p1 li p{
    font-size: 14px;
    padding: 15px 15px 0px 0px;
}
.contact1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px  50px 20px 50px;
}
.contact2{
    border: 2px solid #e1e1e1;
    padding:30px 0px 30px 20px ;
}
.contact1 h1{
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    padding: 20px 0;
}
.contact1 input{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
.contact1 button{
    background-color: #088178;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}
.contact2 li{
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.60px;
}
.contact2 li p{
    margin-left: 20px;
}
.app{
   align-items: center;
   display: flex;
   flex-direction:column;
   justify-content: center;
}
.app h1{
    font-weight: 700;
    letter-spacing: 0.60px;
}
.app h1 a{
    color: rgb(123, 56, 123);
}
#table img{
    height: 80px;
    width: 80px;
    margin: 15px 0px 10px 0px;
}
#table{
    padding: 100px 170px 100px 170px;
    align-content: center;
    font-size: 15px;
}

#table thead{
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    padding-bottom: 30px;
}
#s1{
    margin-top: 40px;
    width: 80px;
    padding: 10px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
#table table thead  tr th{
    padding-bottom: 20px;
}
#cart1 p{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
}
#cart1 p span{
    padding: 10px;
}
.bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 100px;
}
.bottom1{
    padding-left: 100px;
}
.bottom h3{
    padding-bottom: 15px;
}
.bottom1 input{
    width: 250px;
  padding: 8px;
}
.s1{
    width: 120px;
    padding: 10px;
    background-color: #088178;
    border: none;
    color: white;

}
#cart1{
    border: 1px solid #aeabab;
    width: 550px;
    margin:0px 50px 0px 0px;
}
#cart2{
    padding: 20px 20px 30px 40px;
}
#cart1 table tbody tr td{
    width: 300px;
   padding: 7px 10px 7px 10px;
   
}
.imgsection{
    display: flex;
    align-items: center;
    justify-items: center;
}
.imgsection img{
    width: 95px;
    margin:10px 9px 0px 0px;
}
.isection{
    padding: 90px;
}
.img1{
    width: fit-content;
}



@media only screen and (max-width:500px) {
    .footer {
        display: flex;
        flex-direction: column;
    }

    .banner1,
    .banner2 {
        width: 400px;
    }

    .foot input {
        font-size: 8px;
        border-radius: 0px;
    }

    .signup .btn {
        font-size: 8px;
        border-radius: 0px;
        width: 113px;
        margin-left:0.45px ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hero{
        background-image: none;
        background-color: #E3E6F3;
    }
    .a1{
        margin: -45px 0px 0px 180px;
    }
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
   
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .i1{
        display: flex;
        margin:-50px 0px 20px 20px;
        font-size: 20px;
    }
    .i2{
        display: none;
    }
    .p3 iframe{
        width: 400px;
    }
    #table{
        padding: 40px 20px 20px 20px ;
        margin: 0px;
        font-size: 13px;
    }
    #table table thead  tr th{
        padding-bottom: 5px;
    }
    #table img{
        height: 40px;
        width: 40px;
        margin: 15px 0px 10px 0px;
    }
    #s1{
        margin: 12px;
        width: 20px;
        padding: 4px;
        border: 1px solid #333;
    }
    .isection{
        padding:50px 0px 0px 0px;
    }
    .imgsection{
        padding: 0px;
        margin: 0px;
    }
    .imgsection img{
        width: 70px;
        padding: 5px;
        margin: -120px 0px 0px 10px;
    }
    .img1{
        width: 300px;
    }
    .bottom{
        padding: 0px 0px 100px 0px;
    }
    #cart1{
        border: 1px solid #aeabab;
        width: 550px;
        margin:50px 50px 0px 50px;
    }
    .bottom1{
        padding-left: 50px;
    }
}